.profile-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #d3d3d3;
    margin: 30px auto 10px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    overflow: hidden;
}