
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
  }
    
  .main-title {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    justify-content: center;
  }
  
  .main-container {
    min-width: 500px;
    width: 25%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .edit-title {
    font-size: 24px;
    font-weight: 700;
  }
  
  .password-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .password {
    resize: none;
    height: 20px;
    border-radius: 5px;
  }

  .helper-text {
    font-size: 14px;
    color: red;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: 100;
}
  
  .label{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: left;
  
    font-weight: 700;
  }
  
  .button-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button {
    color: #fff;
    width: 100%;
    background-color: #ACA0EB;
    height: 30px;
    border: none;
    border-radius: 5px;
  }
  
  .button#resign{
    background-color: #fff;
    width: 80%;
    color: black;
    margin-top: 5px;
  }
  
  .button#finish{
    width: 30%;
    margin-top: 30px;
    border-radius: 10px;
  }

#tost-message {
  opacity: 0;
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%,0);
  padding: 10px 50px;
  background: rgba(0, 0, 0, 0.70);
  border-radius: 100px;
  color: #fff;
  box-shadow: 3px 4px 11px 0px #00000040;
  transition: all 0.5s;
}

#tost-message.active {
  opacity: 100%;
  bottom: 50px;
}